.home-container,
.result-container {
	margin: 20px;
}
.tab-side {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.tab-side > form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}
